
<div class="top">
    <div>
        <h2>CONTACT US</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-10 long-form-text">
            <h2>Surfrider Foundation</h2>

            <p>&nbsp;</p>

            <p><u><strong>Physical Address</strong></u></p>

            <p>942 Calle Negocio, Suite 350<br>
            San Clemente, CA 92673</p>

            <p><strong><u>Mailing Address</u></strong></p>

            <p>P.O. Box 73550<br>
            San Clemente, CA 92673</p>

            <p><br>
            tel. (949) 492-8170<br>
            fax (949) 492-8142</p>

            <p><u><strong>Email Addresses:</strong></u>&nbsp;</p>

            <p>General information: info@surfrider.org</p>

            <p>Membership questions: membership@surfrider.org&nbsp;</p>

            <p>Media: media@surfrider.org</p>
        </div>
    </div>
</div>