<div class="top">
  <div>
    <h2>About Us</h2>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 content">
      <h2><span>About US</span></h2>
      <h3>From the founder:</h3>
      <p>
        I admit to being a tree-hugger. I enjoy and feel connected to nature and accept a responsibility to take care of
        it. To that end I have always recycled and reused to the best of my ability. These efforts have led to teasing
        from my children because while on road trips I will drive recyclable materials across state lines to proper
        receptacles so I don't add them to a landfill, and support recycling efforts (although major change to the
        entire plastic situation is vital at this point!)</p>

      <p>6 months ago I was in a fast food restaurant and noticed the bowl I was eating from had a recycle symbol on it,
        but the restaurant did not have a place to put recycling. There were two choices; put it in the trash or take it
        home to re-use and then add to my recycling. Of course the choice is clear for me, but I realize many people
        would just put it in the trash. I thought to myself, "someone should make an app that lets customers support
        restaurants who are using sustainable practices." Later I was at a coffee shop and saw that many people who were
        engaged in lengthy visits with friends had coffee in disposable cups and I thought; "coffee shops should do a
        better job of offering mugs for those who are staying on site and someone should make an app so customers know
        where those coffee shops are." Then I decided that someone would be me!</p>

      <p>During this journey I have realized even more ways that I can be more conscious of my actions and do better,
        especially if I am going to be so engaged in supporting and encouraging the philosophy of sustainable practices
        - through WOLO.</p>

      <p>
        Please join me as we work together to do what we can to make a difference in taking better care of the world we
        live in.
      </p>
    </div>
  </div>
</div>
<br>
