
.top {
    padding-top: calc(20rem + 61px);
    width: 100%;
    background-image: url('../../../assets/img/event.jpg');
    background-size: 100% 100%;
}

.top h2 {
    font-size: 45px;
    color: white;
    text-align: right;
    margin: 0 20px;
    padding: 5px 0;
}

.sign_up_btn {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

@media (max-width:768px) {
    .sign_up_btn {
        position: relative;
    }
}