
<div class="top">
    <div>
        <h2>SUGGESTION</h2>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="container btn btn-success">
                What is a World Love <fa name="arrow-right"></fa>
            </div>
        </div>
        <div class="col-3">
            <div class="container btn btn-success">
                What is a World Love <fa name="arrow-right"></fa>
            </div>
        </div>
        <div class="col-3">
            <div class="container btn btn-success">
                What is a World Love <fa name="arrow-right"></fa>
            </div>
        </div>
        <div class="col-3">
            <div class="container btn btn-success">
                What is a World Love <fa name="arrow-right"></fa>
            </div>
        </div>
    </div>
</div>
<hr>